<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJ5Rv8DSJhhQENlHN_PwBl3ZR0f809jcM</string>
	<key>GCM_SENDER_ID</key>
	<string>310928300071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.gdscapp</string>
	<key>PROJECT_ID</key>
	<string>g-d-s-c-app-gz6fq1</string>
	<key>STORAGE_BUCKET</key>
	<string>g-d-s-c-app-gz6fq1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310928300071:ios:9519b1128c948cdc791602</string>
</dict>
</plist>